* {
    margin: 0;
}

body {
    width: 100%;
    
}


/* NAVBAR */
.nav_title{ 
    font-family: monospace;
}

/* HOME PAGE */
.home_page{
    min-height: 70vh;
}

/* Card-Hover */
.hover:hover {
    box-shadow: 0 0 5px 3px grey;
}



/* FOOTER  CSS */

.footer {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 1.5% 0;
}

.bottom_position {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_header {
    margin: 10px auto;
    width: 50%;
    font-size: 1.15rem;
    font-family: monospace;
}

.footer a {
    color: rgba(168, 255, 118, 0.997);
    text-decoration: none;
}

.space {
    margin: 0 2.5%;
}

.footer p {

    margin: 5px;
}